body{
    background-image: linear-gradient(to right,#000428 , #004e92);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: aliceblue; 
}
.App{
    width: 90%;
    margin: 0 auto;
}
a{
    color: cornsilk;
    margin: 0 10px;
}
background: #17202A; 