.navbar-nav{
    margin-top: 10px;
    margin-left: 215px;
    letter-spacing: 1px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
.navbar-nav a{
    color: beige;
    margin-right: 50px;
    text-decoration: none;
}



.nav-item a:hover{
    color: chartreuse;
}

